*.pdf
*.idea
*.zip
*.csv
*.ppt
*.pptx
data/
user_data/
__pycache__/
venv/
.DS_Store
*.xlsx
*.h5
*.pkl
*.ckpt
*.parquet
*.whl
*.jar
*.tgz
*.gz
*.docx
*.doc
*.npy
*.ipynb
*.tar
*.tsv
*.json
env/